## PostgreSQL

In [2]:
%load_ext sql

In [3]:
%sql postgresql://exporter:exporter_pass@89.208.222.201/pg_db

'Connected: exporter@pg_db'

In [5]:
# произвольный запрос
%sql select * from chapter limit 10

 * postgresql://exporter:***@89.208.222.201/pg_db
10 rows affected.

[('henry5', 18934, 0, 1, 'Prologue.'),
 ('12night', 18704, 1, 1, "DUKE ORSINO's palace."),
 ('12night', 18705, 1, 2, 'The sea-coast.'),
 ('12night', 18706, 1, 3, "OLIVIA'S house."),
 ('12night', 18707, 1, 4, "DUKE ORSINO's palace."),
 ('12night', 18708, 1, 5, "OLIVIA'S house."),
 ('12night', 18709, 2, 1, 'The sea-coast.'),
 ('12night', 18710, 2, 2, 'A street.'),
 ('12night', 18711, 2, 3, "OLIVIA's house."),
 ('12night', 18712, 2, 4, "DUKE ORSINO's palace.")]

## HDFS

In [7]:
from hdfs3 import HDFileSystem
hdfs=HDFileSystem(host='manager.novalocal',port=8020)

In [8]:
hdfs.ls('/user/instructor')

['/user/instructor/.sparkStaging', '/user/instructor/local-file.txt']

In [9]:
with hdfs.open('/user/instructor/local-file.txt') as f:
    data = f.read(1000000)

In [10]:
print(data)

b'; Created by cloud-init on instance boot automatically, do not edit.\n;\n# Generated by NetworkManager\nnameserver 10.0.2.3\nnameserver 8.8.8.8\nnameserver 8.8.4.4\nsearch localdomain\n'